[Unit]
Description=BLE to MQTT gateway. Listens to Eddystone TLM beacons and sends their content to the MQTT server.
After=bluetooth.service

[Service]
ExecStart=<YOURPATH>/scanner -host 127.0.0.1 -port 1883
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target